* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* width: 100vw; */
	min-height: 100vh;
	background: rgb(218, 218, 218);
}
.App {
	padding: 2em 1em;
	text-align: center;
	position: relative;
	z-index: 1;
}
.loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading img {
	animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
